.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    color: #2c2c2c;
}

.homeLink {
    margin-top: 1rem;
    color: #2c2c2c;
    font-weight: 600;
}
